#header .head h1{
  color: rgb(75, 75, 250);
  text-align: center;
}

#header .head{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 60px;
}

#cards{
  padding-top: 3%;
}

#cards .card {
  width: 100%;
  height: 550px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

#cards .card:hover{
  transform: scale(1.1);
}

#cards .card .head {
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: inherit;
}

#cards .card .head .type-1 {
  position: absolute;
  color: white;
  z-index: 2;
  background-color: rgb(239, 37, 122);
  top: 30px;
  width: 70px;
  border-top-right-radius: 10px;
  display: flex;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#cards .card .head .type-2{
  position: absolute;
  color: white;
  z-index: 2;
  background-color: blueviolet;
  top: 30px;
  width: 70px;
  border-top-right-radius: 10px;
  display: flex;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#cards .card .head .type-3 {
  position: absolute;
  color: white;
  z-index: 2;
  background-color: orange;
  top: 30px;
  width: 70px;
  border-top-right-radius: 10px;
  display: flex;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#cards .card .head img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#cards .card .content{
  height: 300px;
  width: 100%;
}

#cards .card .content .hashtags{
  color: rgb(153,193,204);
}

#cards .card .content h1{
  font-size: 32px;
}

#cards .card .content .description{
  color: rgb(125,124,128);
}

#cards .card .content .profile{
  width: 100%;
  display: flex;
  margin-top: 10px;
}

#cards .card .content .profile img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#cards .card .content .profile .info{
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#cards .card .content .profile .info .info-items{
  height: 49%;
}

#cards .card .content .profile .info .info-items .name{
  font-size: 20px;
  opacity: 0.8;
}

#cards .card .content .profile .info .info-items .followers{
  font-size: 13px;
  line-height: 0px;
}






@media screen and (min-width: 992px) and (max-width: 1200px){
  #cards .card-1 .content .profile{
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1200px){
  #cards .card .content h1{
    font-size: 20px;
  }
}